<html>
    <head>
      <title>Weaver</title>
    </head>
    <body>
      <div id="header">
        {{ current_user.username or "anon" }}@<a href="/">weaver</a>
        {% if current_user.is_anonymous %}
          <a href="/login">log in</a>
        {% else %}
          //
          <a href="/post">new post</a>
          //
          <a href="/logout">log out</a>
        {% endif %}

        <div id="flash">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
            <div>{{ message }}</div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
      </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
